sudo: required
services:
  - docker

brefore_install:
  - docker build -t guoxiny/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true guoxiny/react-test npm test

after_success:
  - docker build -t guoxiny/multi-client ./client
  - docker build -t guoxiny/multi-nginx ./nginx
  - docker build -t guoxiny/multi-server ./server
  - docker build -t guoxiny/multi-worker ./worker
  # log in to the coker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # push to docker hub
  - docker push guoxiny/multi-client
  - docker push guoxiny/multi-nginx
  - docker push guoxiny/multi-server
  - docker push guoxiny/multi-worker